[submodule "game"]
	path = game
	url = https://github.com/Unbalanced-game/unbalanced-assets
[submodule "documentation"]
	path = documentation
	url = https://github.com/Unbalanced-game/unbalanced-documentation
